body {
  background: #0a192f;
}

.navbar {
  background-color: #0a192f !important;
}

.navbar-brand {
  color: #64ffda !important;
}

.offcanvas-body {
  background-color: #233554 !important;
}
.offcanvas-body .nav-link {
  color: #64ffda;
}

.offcanvas-header {
  background-color: #263857 !important;
  color: #64ffda;
}

.btn-close {
  --bs-btn-close-color: rgb(104, 251, 229) !important;
  --bs-btn-close-bg: none !important;
  --bs-btn-close-opacity: none !important;
  --bs-btn-close-hover-opacity: 1 !important;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0) !important;
  --bs-btn-close-focus-opacity: 1;
  --bs-btn-close-disabled-opacity: 1 !important;
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
  box-sizing: content-box;
  width: 35px !important;
  height: 35px !important;
  padding: 0.25em 0.25em;
  color: var(--bs-btn-close-color);
  background: rgba(0, 0, 0, 0) var(--bs-btn-close-bg) center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: var(--bs-btn-close-opacity);
  font-size: 25px;
  font-weight: 900;
}

.hamburger-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 35px;
  height: 35px;
  transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
  cursor: pointer;
  background: transparent;
  border: 0px;
}

.hamburger-btn-1 {
  height: 0px;
  border: 1.5px solid #64ffda;
  width: 22px;
  display: block;
  position: absolute;
  transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
  background: #fff;
}

.hamburger-btn:hover {
  transition-delay: 100ms;
  transform: scale(1.1);
}

.hamburger-btn:hover .hamburger-btn-1:nth-child(3):before {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #F26451;
}

.hamburger-btn:hover .hamburger-btn-1 {
  border: 2px solid #ffc164;
  height: 9px;
  border-radius: 50%;
  margin-left: -1px;
  margin-top: 2px;
  animation: atom 300ms linear 1;
  width: 25px;
  top: 0px;
  background: transparent;
}

.hamburger-btn:focus {
  outline: 0px;
}

.hamburger-btn-1:nth-child(1) {
  top: 0px;
}

.hamburger-btn-1:nth-child(2) {
  top: 8px;
}

.hamburger-btn-1:nth-child(3) {
  top: 16px;
}

.hamburger-btn-1:nth-child(3):before {
  opacity: 0;
  animation: ball 1.5s linear infinite;
  content: "";
  border: 2px solid #64ffda;
  display: block;
  position: relative;
  top: 0.25px;
}

.hamburger-btn:hover .hamburger-btn-1:nth-child(1) {
  transform: rotate(-33deg);
}

.hamburger-btn:hover .hamburger-btn-1:nth-child(2) {
  transform: rotate(90deg);
}

.hamburger-btn:hover .hamburger-btn-1:nth-child(3) {
  transform: rotate(33deg);
}

.hamburger-btn:hover .hamburger-btn-1:nth-child(3):before {
  opacity: 1;
  transition: opacity 600ms cubic-bezier(0.61, 0.01, 0.42, 1);
}

.hamburger-btn:active:hover .hamburger-btn-1:nth-child(3):before,
.hamburger-btn:active .hamburger-btn-1:nth-child(3):before,
.hamburger-btn:active .hamburger-btn-1:nth-child(2) {
  opacity: 0;
  transition: all 200ms;
}

.hamburger-btn:active .hamburger-btn-1 {
  border: 1.5px solid #fff;
  height: 0px;
  border-radius: 0%;
  margin-left: -1px;
  margin-top: 6px;
  animation: division 300ms linear 1;
  width: 25px;
  top: 0px;
}

.hamburger-btn:active .hamburger-btn-1:nth-child(2) {
  width: 0px;
}

.hamburger-btn:active .hamburger-btn-1:nth-child(3) {
  transform: rotate(45deg);
}

.hamburger-btn:active .hamburger-btn-1:nth-child(1) {
  transform: rotate(-45deg);
}

@keyframes atom {
  0% {
    transform: rotate(180deg);
  }
}
@keyframes division {
  0% {
    transform: rotate(180deg);
  }
}
@keyframes ball {
  0% {
    left: -20%;
    top: 10%;
  }
  10% {
    left: 10%;
    top: -35%;
  }
  25% {
    left: 45%;
    top: -50%;
  }
  40% {
    left: 80%;
    top: -20%;
  }
  50% {
    left: 98%;
    top: 18%;
  }
  60% {
    left: 80%;
    top: 50%;
  }
  75% {
    left: 45%;
    top: 80%;
  }
  90% {
    left: 0%;
    top: 60%;
  }
  100% {
    left: -20%;
    top: 10%;
  }
}
.container-home {
  max-width: 100vw;
  height: 100vh;
  background-color: #263857;
}/*# sourceMappingURL=style.css.map */